{% load static %}

<footer class="footer">
	<div class="container">
		<div class="footer__row">
			<div class="footer__general">
				<ul class="footer__list">
					<li>Общее</li>
					<li><a href="">Условия пользования</a></li>
					<li><a href="">Необходимые документы</a></li>
					<li><a href="">Новости и акции</a></li>
					<li><a href="">FAQ</a></li>
				</ul>
			</div>
			<div class="footer__actions">
				<ul class="footer__list">
					<li>Действия</li>
					<li><a href="">Опубликовать поездку</a></li>
					<li><a href="">Найти поездку</a></li>
				</ul>
			</div>
			<div class="footer__contacts">
				<ul class="footer__list">
					<li>Контакты</li>
					<li><a href="tel:8 (800) 123-45-67" class="footer__phone-number">8 (800) 123-45-67</a></li>
					<li><a href="mailto:email@name.com">email@name.com</a></li>
					<ul class="footer__socials">
						<li><a href=""><img src="{% static "img/icons/vk.svg" %}" alt=""></a></li>
						<li><a href=""><img src="{% static "img/icons/telegram.svg" %}" alt=""></a></li>
						<li><a href=""><img src="{% static "img/icons/youtube.svg" %}" alt=""></a></li>
						<li><a href=""><img src="{% static "img/icons/tiktok.svg" %}" alt=""></a></li>
						<li><a href=""><img src="{% static "img/icons/instagram.svg" %}" alt=""></a></li>
					</ul>
				</ul>
			</div>
		</div>
		<div class="footer__other">
			<div class="footer__copyright">© 2024 твой Попутчик</div>
		</div>
	</div>
</footer>