{% extends "main/base.html" %}
{% load static %}

{% block css %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'main/home.css' %}">
{% endblock %}
{% block title %}
Сервис совместных поездок
{% endblock %}

{% block content %}


    <main>
        <div class="container">
        <div class="form-section">
            <h1>Сервис совместных поездок <span>в ДНР</span></h1>
            <h2>Найдите свою поездку</h2>
            <form method="get" action="{% url 'main:catalog' %}">
                <div class="form-group">
                    <label for="departure">Город отправления</label>
                    <div class="input-container">
                        <img src="{% static 'img/departure-icon.svg' %}" class="input-icon" alt="Departure Icon">
                        <input type="text" id="departure" name="departure_city" list="departure-list" placeholder="Донецк">
                    </div>
                    <datalist id="departure-list"></datalist>
                </div>

                <div class="form-group">
                    <label for="arrival">Город прибытия</label>
                    <div class="input-container">
                        <img src="{% static 'img/departure-icon.svg' %}" class="input-icon" alt="Arrival Icon">
                        <input type="text" id="arrival" name="destination_city" list="arrival-list" placeholder="Макеевка">
                    </div>
                    <datalist id="arrival-list"></datalist>
                </div>

                <div class="form-group">
                    <label for="date">Дата поездки</label>
                    <div class="input-container">
                        <img src="{% static 'img/date-icon.svg' %}" class="input-icon" alt="Date Icon">
                        <input type="date" id="date" name="date" min="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="people">Количество человек</label>
                    <div class="input-container">
                        <img src="{% static 'img/passengers-icon.svg' %}" class="input-icon" alt="People Icon">
                        <input type="number" id="people" name="passengers" min="1" max="10" value="1">
                    </div>
                </div>
                <button type="submit" style="margin-top: 20px;">Найти поездку</button>
            </form>
        </div>
        <div class="image-section">
            <img src="{% static 'img/women-high-fiving-car.png' %}" alt="Happy people in car">
        </div>
    </div>
        <div class="background-fluid" style="background-color: white; max-width: 100%;">
            <div class="info-container">
                <div class="info-card" style="background-color: var(--color-lightergray)">
                    <div class="card-content">
                        <h3>Пассажирам</h3>
                        <p><strong>Гибкость маршрута:</strong><br> Найдите водителя, который поедет в нужное вам место в удобное время.</p>
                        <p><strong>Безопасность:</strong><br> Путешествуйте с проверенными водителями и оставляйте отзывы о поездках, чтобы повысить качество сервиса.</p>
                    </div>
                    <div class="card-image">
                        <img src="{% static '/img/9510950 1.png' %}" alt="Пассажирам">
                    </div>
                </div>
                <div class="info-card" style="background-color: var(--color-lightgray)">
                    <div class="card-content">
                        <h3>Водителям</h3>
                        <p><strong>Поделитесь маршрутом:</strong><br> Выбирайте пассажиров, которые едут по вашему маршруту и получайте дополнительную выгоду.</p>
                        <p><strong>Вместе веселее:</strong><br> Совместные поездки – это отличный способ скоротать время в дороге в приятной компании.</p>
                    </div>
                    <div class="card-image">
                        <img src="{% static '/img/10380505 1.png' %}" alt="Водителям">
                    </div>
                </div>
            </div>
        </div>
        <div class="popular-routes">
    <h2 style="text-align: start; margin-left: 15px;">Популярные маршруты</h2>
    <div class="routes-container">
        <a href="{% url 'main:catalog' %}?departure_city=Москва" class="route-card">
            <img src="{% static '/img/moscow.jpg' %}" alt="Москва">
            <div class="route-info">
                <h3>Москва</h3>
                <p>от 850₽ за поездку</p>
            </div>
        </a>
        <a href="{% url 'main:catalog' %}?departure_city=Симферополь" class="route-card">
            <img src="{% static '/img/simferopol.jpg' %}" alt="Симферополь">
            <div class="route-info">
                <h3>Симферополь</h3>
                <p>от 750₽ за поездку</p>
            </div>
        </a>
        <a href="{% url 'main:catalog' %}?departure_city=Санкт-Петербург" class="route-card">
            <img src="{% static '/img/saint-petersburg.jpg' %}" alt="Санкт-Петербург">
            <div class="route-info">
                <h3>Санкт-Петербург</h3>
                <p>от 900₽ за поездку</p>
            </div>
        </a>
        <a href="{% url 'main:catalog' %}?departure_city=Бийск" class="route-card">
            <img src="{% static '/img/biysk.jpg' %}" alt="Бийск">
            <div class="route-info">
                <h3>Бийск</h3>
                <p>от 950₽ за поездку</p>
            </div>
        </a>
        <a href="{% url 'main:catalog' %}?departure_city=Элиста" class="route-card">
            <img src="{% static '/img/elist.jpg' %}" alt="Элиста">
            <div class="route-info">
                <h3>Элиста</h3>
                <p>от 800₽ за поездку</p>
            </div>
        </a>
        <a href="{% url 'main:catalog' %}?departure_city=Уфа" class="route-card">
            <img src="{% static '/img/ufa.jpg' %}" alt="Уфа">
            <div class="route-info">
                <h3>Уфа</h3>
                <p>от 770₽ за поездку</p>
            </div>
        </a>
        <a href="{% url 'main:catalog' %}?departure_city=Челябинск" class="route-card">
            <img src="{% static '/img/chelyabinsk.jpg' %}" alt="Челябинск">
            <div class="route-info">
                <h3>Челябинск</h3>
                <p>от 900₽ за поездку</p>
            </div>
        </a>
        <a href="{% url 'main:catalog' %}?departure_city=Махачкала" class="route-card">
            <img src="{% static '/img/makhachkala.jpg' %}" alt="Махачкала">
            <div class="route-info">
                <h3>Махачкала</h3>
                <p>от 450₽ за поездку</p>
            </div>
        </a>
    </div>
</div>
        </div>
        <section style="background-color: white; max-width: 100%; padding: 50px 0;">
            <div class="faq-section">
                <h2 class="faq-heading">ОТВЕТЫ НА ВОПРОСЫ ПОПУТЧИКОВ И ВОДИТЕЛЕЙ</h2>
                <div class="faq-container">
                    <div class="faq-column">
                        <div class="faq-item">
                            <button class="faq-question">Как создать поездку? <span class="faq-icon">+</span></button>
                            <div class="faq-answer">
                                <p>Для создания поездки необходимо зарегистрироваться на сайте. После регистрации вам станет доступна форма создания поездки. Заполните все необходимые поля и нажмите кнопку создать поездку.</p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <button class="faq-question">Как найти попутчиков? <span class="faq-icon">+</span></button>
                            <div class="faq-answer">
                                <p>Описание, как найти попутчиков.</p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <button class="faq-question">Как связаться с водителем? <span class="faq-icon">+</span></button>
                            <div class="faq-answer">
                                <p>Описание, как связаться с водителем.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-column">
                        <div class="faq-item">
                            <button class="faq-question">Как изменить детали поездки? <span class="faq-icon">+</span></button>
                            <div class="faq-answer">
                                <p>Описание, как изменить детали поездки.</p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <button class="faq-question">Как найти поездку для пассажира? <span class="faq-icon">+</span></button>
                            <div class="faq-answer">
                                <p>Описание, как найти поездку для пассажира.</p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <button class="faq-question">Как оценить водителя? <span class="faq-icon">+</span></button>
                            <div class="faq-answer">
                                <p>Описание, как оценить водителя.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer style="background-color: var(--color-lightergray); max-width: 100%;">
        <div class="unique-footer">
            <div class="unique-footer-left">
                <h1 class="unique-footer-title">Название</h1>
                <p class="unique-footer-copyright">©Название 2024</p>
                <div class="unique-footer-socials">
                    <a href="#"><img src="{% static '/img/vk-icon.svg" alt="VK"></a>
                    <a href="#"><img src="{% static '/img/telegram-icon.svg" alt="Telegram"></a>
                    <a href="#"><img src="{% static '/img/instagram-icon.svg" alt="Instagram"></a>
                </div>
            </div>
            <div class="unique-footer-center">
                <ul class="unique-footer-links">
                    <li style="font-size: 24px; color: #43466580; font-weight: bold;">Общее</li>
                    <li><a href="#">Условия пользования</a></li>
                    <li><a href="#">Необходимые документы</a></li>
                    <li><a href="#">Новости и акции</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="unique-footer-right">
                <p class="unique-footer-contact">8 800 123 45 67</p>
                <a href="mailto:email@name.com" class="unique-footer-email">email@name.com</a>
                <p class="unique-footer-chat">Чат</p>
            </div>
            <div class="unique-footer-buttons-column">
                <div class="unique-footer-buttons">
                    <button class="unique-footer-button-publish"><a href="{% url 'main:add_trip' %}" style="color: #fff; text-decoration: none">Опубликовать поездку</a></button>
                    <button class="unique-footer-button-find"><a href="{% url 'main:catalog' %}" style="color: #fff; text-decoration: none">Найти поездку</a></button>

                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/home.js' %}">

</script>
{% endblock content %}