{% extends "main/base.html" %}
{% load add_class %}
{% load static %}

{% block css %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'main/add.css' %}">
{% endblock %}

{% block title %}
Carpool Service
{% endblock %}

{% block content %}



    <main class="main-container">
        <section class="trip-form">
            <h1>Добавить поездку</h1>
            <form>
                <div class="form-content">
                    <div class="photo-group">
                        <label for="carPhotoInput">
                            <img src="/img/car.png" alt="фото машины" class="car-photo" id="carPhotoLabel">
                        </label>
                        <input type="file" id="carPhotoInput" name="carPhoto" accept="image/*" style="display: none;" onchange="updatePhotoLabel(event)">
                    </div>
                    <div class="input-group">
                        <div class="full-width">
                            <label for="departure">Название машины</label>
                            <input type="text" id="carName" name="carName" placeholder="Введите название машины" class="full-width-input">
                        </div>
                        <div class="form-group">
                            <div class="form-group-input">
                                <label for="departure">Город отправления</label>
                                <input class="half-width-input">
                            </div>
                            <div class="form-group-input">
                                <label for="departure">Город прибытия</label>
                                <input class="half-width-input">
                            </div>
                            <div class="form-group-input">
                                <label for="departure">Время отправление</label>
                                <input type="datetime-local" id="departureTime" name="departureTime" value="2024-07-06T13:24" class="half-width-input">
                            </div>
                            <div class="form-group-input">
                                <label for="departure">Время прибытия</label>
                                <input type="datetime-local" id="arrivalTime" name="arrivalTime" value="2024-07-06T13:24" class="half-width-input">
                            </div>
                            <div class="form-group-input">
                                <label for="departure">Количество пассажиров</label>
                                <input type="number" id="priceTrip" name="priceTrip" value="1" min="1" class="half-width-input">
                            </div>
                            <div class="form-group-input">
                                <label for="departure">Стоимость поездки</label>
                                <input type="number" id="passengerCount" name="passengerCount" value="1" min="1" class="half-width-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group textarea-grid">
                    <textarea id="tripComment" name="tripComment" placeholder="Введите комментарий" class="full-width-textarea"></textarea>
                </div>
                <div class="form-actions">
                    <button type="button" style="background-color: var(--color-darkblue)">Отменить</button>
                    <button type="submit" style="background-color: var(--color-lightblue)">Опубликовать поездку</button>
                </div>
            </form>
        </section>
        <section class="section trips">
            <div class="trips-header">
                <h2>Мои поездки</h2>
                <button class="sort-button">по дате <span>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.3875 10.2625C23.2713 10.1453 23.1331 10.0523 22.9807 9.98888C22.8284 9.92542 22.665 9.89275 22.5 9.89275C22.335 9.89275 22.1716 9.92542 22.0193 9.98888C21.867 10.0523 21.7287 10.1453 21.6125 10.2625L15.8875 15.9875C15.7713 16.1047 15.6331 16.1976 15.4807 16.2611C15.3284 16.3246 15.165 16.3572 15 16.3572C14.835 16.3572 14.6716 16.3246 14.5193 16.2611C14.367 16.1976 14.2287 16.1047 14.1125 15.9875L8.38751 10.2625C8.27131 10.1453 8.13306 10.0523 7.98074 9.98888C7.82841 9.92542 7.66503 9.89275 7.50001 9.89275C7.335 9.89275 7.17162 9.92542 7.01929 9.98888C6.86697 10.0523 6.72872 10.1453 6.61251 10.2625C6.3797 10.4967 6.24902 10.8135 6.24902 11.1437C6.24902 11.474 6.3797 11.7908 6.61251 12.025L12.35 17.7625C13.0531 18.4647 14.0063 18.8592 15 18.8592C15.9938 18.8592 16.9469 18.4647 17.65 17.7625L23.3875 12.025C23.6203 11.7908 23.751 11.474 23.751 11.1437C23.751 10.8135 23.6203 10.4967 23.3875 10.2625Z" fill="#444766"/>
                    </svg>
                    </span>
                </button>
            </div>
            <div class="trip-card trip-your">
                <div class="trip-header">
                    <div class="trip-time">
                        <div class="time">20:00</div>
                        <div class="svg-container">
                            <svg class="svg-large" width="63" height="14" viewBox="0 0 63 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="50" height="2" transform="translate(13 6)" fill="#444766"/>
                                <path d="M7 0C3.14008 0 0 3.14008 0 7C0 10.8599 3.14008 14 7 14C10.8599 14 14 10.8599 14 7C14 3.14008 10.8599 0 7 0ZM7 12.8333C3.7835 12.8333 1.16667 10.2165 1.16667 7C1.16667 3.7835 3.7835 1.16667 7 1.16667C10.2165 1.16667 12.8333 3.7835 12.8333 7C12.8333 10.2165 10.2165 12.8333 7 12.8333ZM9.33333 7C9.33333 8.28858 8.28858 9.33333 7 9.33333C5.71142 9.33333 4.66667 8.28858 4.66667 7C4.66667 5.71142 5.71142 4.66667 7 4.66667C8.28858 4.66667 9.33333 5.71142 9.33333 7Z" fill="#444766"/>
                            </svg>
                            <svg class="svg-small" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 0C3.14008 0 0 3.14008 0 7C0 10.8599 3.14008 14 7 14C10.8599 14 14 10.8599 14 7C14 3.14008 10.8599 0 7 0ZM7 12.8333C3.7835 12.8333 1.16667 10.2165 1.16667 7C1.16667 3.7835 3.7835 1.16667 7 1.16667C10.2165 1.16667 12.8333 3.7835 12.8333 7C12.8333 10.2165 10.2165 12.8333 7 12.8333ZM9.33333 7C9.33333 8.28858 8.28858 9.33333 7 9.33333C5.71142 9.33333 4.66667 8.28858 4.66667 7C4.66667 5.71142 5.71142 4.66667 7 4.66667C8.28858 4.66667 9.33333 5.71142 9.33333 7Z" fill="#444766"/>
                            </svg>
                            <div class="duration">8 ч 00 м</div>
                            <svg class="svg-large" width="63" height="14" viewBox="0 0 63 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="50" height="2" transform="matrix(-1 0 0 -1 50 8)" fill="#444766"/>
                                <path d="M55.998 14C59.858 14 62.998 10.8599 62.998 7C62.998 3.14008 59.858 0 55.998 0C52.1381 0 48.998 3.14008 48.998 7C48.998 10.8599 52.1381 14 55.998 14ZM55.998 1.16667C59.2145 1.16667 61.8314 3.7835 61.8314 7C61.8314 10.2165 59.2145 12.8333 55.998 12.8333C52.7815 12.8333 50.1647 10.2165 50.1647 7C50.1647 3.7835 52.7815 1.16667 55.998 1.16667ZM53.6647 7C53.6647 5.71142 54.7095 4.66667 55.998 4.66667C57.2866 4.66667 58.3314 5.71142 58.3314 7C58.3314 8.28858 57.2866 9.33333 55.998 9.33333C54.7095 9.33333 53.6647 8.28858 53.6647 7Z" fill="#444766"/>
                            </svg>
                            <svg class="svg-small" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 0C3.14008 0 0 3.14008 0 7C0 10.8599 3.14008 14 7 14C10.8599 14 14 10.8599 14 7C14 3.14008 10.8599 0 7 0ZM7 12.8333C3.7835 12.8333 1.16667 10.2165 1.16667 7C1.16667 3.7835 3.7835 1.16667 7 1.16667C10.2165 1.16667 12.8333 3.7835 12.8333 7C12.8333 10.2165 10.2165 12.8333 7 12.8333ZM9.33333 7C9.33333 8.28858 8.28858 9.33333 7 9.33333C5.71142 9.33333 4.66667 8.28858 4.66667 7C4.66667 5.71142 5.71142 4.66667 7 4.66667C8.28858 4.66667 9.33333 5.71142 9.33333 7Z" fill="#444766"/>
                            </svg>
                        </div>
                        <div class="time">04:00</div>
                    </div>
                    <div class="trip-price"></div>
                    <div class="trip-locations">
                        <div class="location">Москва</div>
                        <div class="location" style="text-align: right;">Санкт-Петербург</div>
                    </div>
                </div>
                <div class="trip-details">
                    <div class="trip-date">23.08.2024</div>
                    <div class="trip-link"><a href="#">Детали поездки</a></div>
                </div>
            </div>
        </section>

    <script src="{% static 'js/script.js' %}"></script>

{% endblock content %}