header {
	width: 100%;
	background-color: var(--color-white);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header-buttons button {
	width: 240px;
	height: 46px;
	border-radius: 8px !important;
	border: none;
	background-color: var(--color-darkblue);
	color: var(--color-white);
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
}

.header-buttons img {
	display: none;
}

.notifications {
	width: 45px;
	height: 45px;
	position: relative;
}

.notifications__counter {
	position: absolute;
	top: -5px;
	right: 25px;
	padding: 5px 7px;
	background-color: red;
	color: white;
	border-radius: 15px;
	font-weight: bold;
}

.notifications img {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.notifications__menu {
	position: absolute;
	top: 55px;
	right: 20px;
}

.menu {
	display: none;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 15px;
	min-width: 300px;
	max-width: 300px;
	overflow: hidden;
}
.menu._active {
	display: block;
}
.overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.5);
	z-index: 50;
}
.menu._active .overlay {
	display: block;
}
.menu._active body {
	overflow: hidden;
}
.menu__close {
	display: none;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px 0;
	cursor: pointer;
}
/* TODO: Сделать отображение кнопки закрытия меню на меньших экранах */
/* .menu._active + .menu__close {
	display: block;
} */
.menu__list {
	max-height: 200px;
	overflow-y: scroll;
}
.menu__item {
	line-height: 150%;
	padding: 10px 20px;
	border-radius: 15px;
	background-color: #ececec;
	margin: 0 10px 10px 0;
}
.menu__item:last-child {
	margin: 0 10px 0 0;
}

header h1 {
	font-size: 32px;
	font-weight: bold;
	flex: 1;
	display: flex;
	align-items: center;
}

.site-title {
	text-decoration: none;
}

.brand-name {
	font-size: 2em;
	display: inline-block;
}

.brand-name::first-letter {
	color: var(--color-lightblue);
}

.brand-name span {
	color: var(--color-darkblue);
}

.header-buttons.active {
	display: block;
}

@media (max-width: 768px) {
	.header-container {
		flex-direction: row;
		justify-content: space-between;
	}

	header h1 {
		font-size: 24px;
		margin-left: 0;
	}

	.header-buttons {
		align-items: center;
	}

	.header-buttons button {
		display: none;
	}
	.header-buttons a {
		border-radius: 50%;
	}

	.header-buttons img {
		display: block;
		width: 45px;
		height: 45px;
		padding: 10px;
		background-color: rgb(177, 177, 177);
		border-radius: 50%;
		overflow: visible;
	}

	.header-buttons.active {
		display: flex;
	}
}

@media (max-width: 480px) {
	/* .notifications__menu {
		left: 0;
		top: 0;
	}
	.notifications .menu {
		max-width: 100%;
		min-width: 100%;
		margin: 20px;
		z-index: 10;
	} */
	.notifications .menu {
		max-width: 200px;
		min-width: 200px;
		z-index: 10;
		right: 0;
	}
}
